* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  --green-primary: #66bb6a;
  --green-secondary: #43a047;

  --white: rgba(255, 255, 255, 0.87);
  --white-secondary: rgba(255, 255, 255, 0.6);
  --gray-border: #FFFFFF26;
  --black-green: #1d251e;
  --black-green-secondary: #0e200f;
  --black: rgba(0, 0, 0, 1);

  color-scheme: light dark;
  color: var(--white);
  /* background-color: var(--black-green); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  font-weight: 500;
  color: var(--white);
  text-decoration: inherit;
}

a:hover {
  color: var(--green-primary);
}

/* Notice that this is the class 'active', not the pseudo-class a:active. This is accounting for NavLinks which add an 'active' class but does not natively integrate with modular css */
a.active {
  background: rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
}

code {
  font-family: monospace;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    var(--black-green),
    var(--black-green-secondary)
  );
  overflow: hidden;
}


h1 {
  font-size: 4.8em;
  font-size: clamp(2.4rem, 5vw + 10px, 4.8rem);
  line-height: 1.1;
}

h2 {
  font-size: 3.2rem;
  font-size: clamp(2.4rem, 3.6vw + 10px, 3.2rem);
}

h3 {
  font-size: 1.6rem;
  font-size: clamp(1.2rem, 2vw + 10px, 1.6rem);
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  font-size: clamp(0.8rem, 0.8vw + 10px, 1.2rem);
}

.white-secondary {
  color: var(--white-secondary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.4rem;
  font-size: clamp(0.8rem, 0.8vw + 10px, 1.2rem);
  font-weight: 500;
  font-family: inherit;
  background-color: var(--green-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
  height: 3.2rem;
  border: 2px solid transparent;
  line-height: 100%;
}
button:hover {
  border-color: var(--white);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--white);
}

input {
  height: 3.2rem;
  width: 100%;
  font-size: 1.2rem;
  padding-left: 4px;
  border: none;
  outline: 2px solid var(--black-green);
  background: #f0fff0;
  border-radius: 2px;
}

input:not(:placeholder-shown):invalid {
  outline-color: rgb(254, 79, 79);
}

input:not(:placeholder-shown):valid {
  outline-color: var(--green-primary);
}
input:focus:invalid {
  outline-color: transparent;
}



/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  } */

.primary {
  color: var(--green-primary);
}

.btn-primary {
  color: var(--white);
  background: var(var(--green-secondary));
}

.btn-primary:hover {
  border: 2px solid var(--white);
}

.btn-secondary {
  color: var(--green-primary);
  background: none;
  border: 2px solid var(--green-primary);
}

.btn-secondary:hover {
  border: 2px solid var(--white-secondary);
}

.social-icon {
  color: var(--white);
}

.viewNoSide {
  height: calc(100vh - 5rem);
  width: 100vw;
  margin-top: 5rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewWithSide {
  height: calc(100vh - 5rem);
  width: calc(100vw - 5rem);
  margin-top: 5rem;
  margin-left: 5rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Need to check if this works on firefox */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #334135;
  /* border-left: 1px solid var(--gray-border); */
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-border);
    border-radius: 10px;
    border: 4px solid #334135;
}

@media only screen and (max-width: 850px) {
  .viewWithSide {
    height: calc(100vh - 5rem);
    width: 100vw;
    margin-top: 5rem;
    margin-left: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}