* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  --green-primary: #66bb6a;
  --green-secondary: #43a047;
  --orange-primary: #e46a14;
  --gray-primary: #a1af9f;
  --blue-primary: #2444c4;
  --blue-white: #7bf4fc37;
  --blue-secondary: #031230;

  --white: rgba(255, 255, 255, 1);
  --white-secondary: rgba(255, 255, 255, 0.6);
  --gray-border: #ffffff26;
  --gray-text: rgb(71, 71, 71);
  --black-green: #1d251e;
  --black-green-secondary: rgb(14, 32, 15);
  --black: #2b2f33;

  --gradient: linear-gradient(
    45deg,
    #27d3e150,
    #00bfff50,
    #39ff1450,
    #32cd3250,
    #ffff0050,
    #ffa50050,
    #ef476f50
  );

  color-scheme: light dark;
  /* background-color: var(--black-green); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  font-weight: 500;
  color: var(--white);
  text-decoration: inherit;
}

a:hover {
  color: var(--blue-primary);
}

/* Notice that this is the class 'active', not the pseudo-class a:active. This is accounting for NavLinks which add an 'active' class but does not natively integrate with modular css */
a.active {
  background: rgba(255, 255, 255, 0.1);
}


body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--white);
  overflow-x: hidden;
  color: var(--black);
}

code {
  font-family: monospace;
}

h1 {
  font-size: 2.8em;
  font-size: clamp(1.4rem, 2.4vw + 10px, 2.4rem);
  line-height: 1.1;
  letter-spacing: 0.2rem;
  font-weight: 300;
}

h2 {
  font-size: 3.2rem;
  font-size: clamp(1.2rem, 2vw + 10px, 1.6rem);
  font-weight: 300;
  letter-spacing: 0.2rem;
}

h3 {
  font-size: 1.6rem;
  font-size: clamp(1.2rem, 0.8vw + 10px, 1.2rem);
  font-weight: 300;
}

h4 {
  font-size: 1.2rem;
  font-size: clamp(0.8rem, 0.8vw + 10px, 1.2rem);
  font-weight: 300;
}

p {
  font-size: clamp(0.8rem, 0.8vw + 10px, 1.2rem);
}

.fw-600 {
  font-weight: 600;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 0.4rem;
  font-size: clamp(0.8rem, 0.8vw + 10px, 1.2rem);
  font-weight: 500;
  font-family: inherit;
  color: var(--white);
  background-color: var(--blue-primary);
  cursor: pointer;
  transition: border-color 0.25s;
  height: 3.2rem;
  border: 2px solid transparent;
  line-height: 100%;
  position: relative;
}
button:hover {
  /* border-color: var(--white); */
  /* transform: translateY(-3px); */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
/* button:focus,
button:focus-visible {
  outline: 4px auto var(--white);
} */

.btn-animated:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
button:active {
  /* transform: translate(-50%, -2.8rem); */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-animated::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background-color: #ffffff71;
  z-index: -1;
  transition: all, 0.4s;
}

.btn-secondary {
  color: var(--white);
  background: transparent;
  border: none;
}

.btn-secondary:hover {
 background: #ffffff71;
}

.input {
  height: 3.2rem;
  width: 100%;
  font-size: 1.2rem;
  padding-left: 4px;
  border: none;
  outline: 2px solid var(--black-green);
  background: #f0fff0;
  border-radius: 2px;
}

input:not(:placeholder-shown):invalid {
  outline-color: rgb(254, 79, 79);
}

input:not(:placeholder-shown):valid {
  outline-color: var(--blue-primary);
}
input:focus:invalid {
  outline-color: transparent;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  } */

.social-icon {
  color: var(--white);
}

.viewNoSide {
  /* width: 100vw;
  margin-top: 4rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center; */

  min-height: calc(100vh - 4rem);
  width: 100vw;
  margin-top: 4rem;
  /* margin-left: 4rem; */
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.hidden {
  display: none !important;
}
.viewWithSide {
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
  margin-top: 4rem;
  margin-left: 4rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Need to check if this works on firefox */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #334135;
  /* border-left: 1px solid var(--gray-border); */
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-border);
  border-radius: 10px;
  border: 4px solid #334135;
}

@media only screen and (max-width: 850px) {
  .viewWithSide {
    height: calc(100vh - 5rem);
    width: 100vw;
    margin-top: 5rem;
    margin-left: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
