html, body {
    /* background-color: rgba(255, 255, 255, 0.87); */
    margin: 0;
    padding: 0;
}
.cup {
    height: 140px;
    width: 180px;
    border: 6px solid black;
    position: absolute;
    top: 40%;
    left: 40%;
    border-radius: 0px 0px 70px 70px;
    box-shadow: 0px 0px 0px 6px black;
    background-image: url('./coffee.png'); 
    background-repeat: repeat-x;
    background-position: 0px 140px;
    animation: fill 2.5s infinite;
}
    @keyframes fill{
        0%{
            background-position: 0px 140px;
        }
        20%{
            background-position: -450px 100px;
        }
        40%{
            background-position: -900px 60px;
        }
        80%{
            background-position: -1350px -40px;
        }
        100%{
            background-position: 0px -140px;
        }
    }
    .handle{
        height: 70px;
        width: 40px;
        background-color : transparent;
        border:6px solid black;
        position:relative;
        left:186px;
        top: 2px;
        border-radius: 0px 25px 80px 0px;


    }