.docs {
    width: 100%;
    max-width: 1380px;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.codeBlock {
    width: 100%;
    background: var(--gray-border);
    border-radius: 8px;
    min-height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;

}