.sectionWrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.docs {
    width: 100%;
    max-width: 1380px;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: var(--black);
}

.docStep {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.codeBlock {
    width: 100%;
    background: var(--black);
    border-radius: 8px;
    min-height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    color: white;
    overflow: auto;
}