.footer {
 background: var(--blue-secondary);
  color: var(--white);
  padding: 20px;
  text-align: center;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.socialIcon {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  width: 34px;
  height: 34px;
}

.logo {
  width: 50px;
  height: 60px;
  margin-bottom: 20px;
}

.listContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.list li {
  margin: 0 10px;
}

.listLink {
  color: #fff;
  text-decoration: none;
}

.listLink:hover {
  text-decoration: underline;
}