.Footer {
    border-bottom: 1px solid rgb(91, 91, 91);
    position: fixed;
    width: 100vw;
    height: 80px;
    background: var(--black-green);
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    box-shadow: 0 1px 50px 16px rgba(29, 37, 30, 1);
  }
  .FooterCotnainer {
    display: flex;
    justify-content: space-between;
  }
.List{
        color: rgba(255, 255, 255, 0.87) !important;
    
}