.sidebar {
    position: fixed;
    left:0;
    height: 100%;
    background: transparent;
    width: 80px;
    border-right: 1px solid var(--gray-border);
}

.sidebar h2 {
    writing-mode: vertical-lr;
}