.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* background: blue; */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: transparent;
  width: 4rem;
  background: linear-gradient(
    to bottom,
    var(--black-green),
    var(--black-green-secondary)
  );
  border-right: 1px solid var(--gray-border);
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  transition: width 0.25s ease;
  overflow: hidden;
}

.sideLogo {
  width: 3rem;
}

.sideIcon {
  width: 2rem;
}
.logoBox {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-left: 0.5rem;
  overflow: hidden;
  transition: width 0.25s ease;
  text-wrap: nowrap;
}

.sidebarLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin: 1.5rem 0.5rem;
}

.sidebarLink {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  border-radius: 6px;
  padding: 0 0.5rem;
  width: 3rem;
  overflow: hidden;
  transition: width 0.25s ease;
}

.sidebarSpan {
  padding-right: 2rem;
}

.sidebar:hover {
  width: 14.5rem;
}

.sidebar:hover .sidebarLink {
  width: 13.5rem;
}

a.active {
  background: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 850px) {
  .sidebar {
    display: none;
  }
}
