


.heroBackground {
  position: relative;
  width: 100%;
  height: 75vh;

  background-position: center;
  /* z-index: -1; */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bg-scale 20s infinite alternate linear;
}

/* .heroBackground::after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  background-image: linear-gradient(
    -45deg,
    rgba(37, 180, 44, 0),
    rgba(37, 180, 44, 0),
    rgba(168, 32, 125, 0.1),
    rgba(168, 32, 125, 0.15),
    rgba(200, 34, 34, 0.15),
    rgba(200, 34, 34, 0.1),
    rgba(168, 32, 125, 0.1),
    rgba(168, 32, 125, 0.1),
    rgba(37, 180, 44, 0),
    rgba(37, 180, 44, 0),
    rgba(37, 180, 44, 0)
  );
  background-size: 1000%;
  animation: bg-animation 10s infinite;
} */

/* rgba(200, 34, 34, 0.3),
rgba(255, 247, 0, 0.3),
rgba(168, 32, 125, 0.3),
rgba(34, 129, 129, 0.3), */

.hero {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding: 8rem 1rem;
  background-size: cover;
  background-position: top left;
  z-index: 5;
  position: absolute;
  color: white;


}

.heroLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:2rem;
  width: 50%;
}

.heroRight {
display: flex;
align-items: center;
width: 50%;
}

.heroDemo {
  height: 50vh;
}

.hero h4 {
  max-width: 70ch;
  color: var(--white);
}
.heroButtons {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: flex-start;
}

/* .fancy {
  color: transparent;
  background-image: var(--gradient);
  background-size: 1200%;
  animation: bg-animation 5s infinite alternate;
  background-clip: text;
} */


@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-scale {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}


@media only screen and (max-width: 900px) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding: 2em 3rem;
  }
  .heroLeft {
    width: 100%;
  }
  .heroRight {
    width: 100%;
  }
 

}