
.chartDisplay {
    display: flex;
    gap: 2rem;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    max-width: calc(100vw - 2rem);
}

.chartBox {
    background: rgba(255, 255, 255, 0.044);
    display: grid;
    place-content: center;
    /* height: 400px; */
    max-width: 100vw;
    border: 1px solid var(--gray-border);
    border-radius: 8px;
}

