
.chartDisplay {
    display: flex;
    gap: 2rem;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    margin: 3rem 0;
    /* max-width: calc(100vw - 2rem); */
}

.chartBox {
    background: rgba(148, 148, 148, 0.044);
    display: grid;
    place-content: center;
    width: 700px;
    aspect-ratio: 7/5;
    max-width: 92vw;
    border: 1px solid var(--gray-border);
    border-radius: 8px;
}

