.loginPage {
    display: flex;
    height: calc(100vh - 4rem);
    
}

.login {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    width: 40rem;
    justify-content: center;
    align-items: center;
    padding: 4.8rem;

    gap: 2.4rem;
      background: var(--blue-secondary);
}

.login h2 {
    color: var(--white);
}

.loginBackground {
    background-image: url("../../assets/backgrounds/blue-2.jpg");
    height: calc(100vw-4rem);
    width: 100%;
    display: grid;
    place-content: center;
}

.login h2 {
    font-weight: 300;
}
.oathButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.6rem;
}

.loginBtn {
    width: 100%;
}

.google {
    background: rgb(243, 243, 243);
    color: var(--black);
}
.google:hover,.github:hover {
    border: 2px solid var(--blue-tertiary);
}
.github {
    background: rgb(194, 194, 194);
    color: var(--black);
}

.loginCredentials {
display: flex;
flex-direction: column;
gap: 1.6rem;
width: 100%;
}

.createAccountQuery {
    display: flex;
    flex-direction: column;
    gap:0;
}
.createAccountQuery p {
    line-height: .6rem;
    text-align: center;
    font-weight: 300;
    color: var(--blue-gray);
}

.createAccountQuery a {
    font-weight: 300; 
}

.createAccountQuery a:hover {
color: var(--blue-tertiary);
}