.loginPage {
    display: flex;
    height: calc(100vh - 4rem);
    overflow: hidden; 
}

.login {
    
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    width: 60rem;
    justify-content: center;
    align-items: center;
    padding: 4.8rem;
    gap: 1.2rem;
    background: #ffffff;
}

.loginBackground {
    height: calc(100vw-4rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;

}
.typewriter h1 {
    overflow: hidden; 
    border-right: .15em solid rgb(243, 243, 242);
    color: #fff; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .10em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(245, 244, 242); }
  }

.imageWrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .demoImg {
    max-width: 90%;
    border-radius: 10px;
  }
.login h2 {
    font-weight: 300;
}
.oathButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.6rem;
}

.loginBtn {
    width: 100%;
}

.google {
    background: rgb(243, 243, 243);
    color: var(--black);
}
.google:hover,.github:hover {
    border: 2px solid var(--blue-primary);
}
.github {
    background: rgb(194, 194, 194);
    color: var(--black);
}

.loginCredentials {
display: flex;
flex-direction: column;
gap: 1.6rem;
width: 100%;
}

.createAccountQuery {
    display: flex;
    flex-direction: column;
    gap:0;
}
.createAccountQuery p {
    line-height: .6rem;
    text-align: center;
    font-weight: 300;
    color: var(—black);
}

.createAccountQuery a {
    font-weight: 300; 
}

.createAccountQuery a:hover {
color: var(—black);
}

   
@media only screen and (max-width: 800px) {
    .login {
        width: 100vw;
    }
.loginBackground {
display: none;
}
  }

