.navbar {
  border-bottom: 1px solid var(--gray-border);
  position: fixed;
  width: 100vw;
  height: 4rem;
  background: var(--blue-secondary);
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  box-shadow: 0 1px 4px 3px rgb(30, 29, 37);
  z-index: 10;
}
.navbar h3{
  color: var(--white);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 1400px;
  padding-right: 1.2rem;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navLeftDash {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 5rem;
}

.navLogo {
  height: 2.4rem;
}
.logoBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;

}

.navLinks {
  display: flex;
  gap: 1rem;
}
.navRight {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.navButton {
  height: 2.4rem;
  text-wrap: nowrap;
  font-size: 1rem;
}
.gitBox {
  display: flex;
  align-items: center;
  gap: .4rem;
  height: 100%;
}

.logOutIcon {
  height: 1.6rem;
  padding-top: 3px;
}

.hamburgerBox {
  display: none;
  height: 100%;
  display: none;
  cursor: pointer;
}

.hamburger {
  width: 40px;
  height: 4px;
  background: var(--blue-primary);
  border-radius: 100px;
  position: relative;
}

.hamburger::after,
.hamburger::before {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: var(--blue-primary);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s ease;
}

.hamburger::before {
  transform: translateY(-0.55rem);
}

.hamburger::after {
  transform: translateY(0.55rem);
}

.activeNav .hamburger::after {
  transform: translateY(.7rem);
  /* background: red; */
}

.activeNav .hamburger::before {
    transform: translateY(-.7rem);
    /* background: red; */
  }

@media only screen and (max-width: 1000px) {
  .navLinks {
    display: none;
  }
  .navRight {
    display: none;
  }
  .hamburgerBox {
    display: grid;
    place-content: center;
  }
}
