.navMobile {
  display: none;
  height: calc(100vh - 4rem);
  width: 100vw;
  z-index: 1300;
  background: var(--black);
  background: linear-gradient(
    to left, var(--blue-primary),
    var(--blue-secondary)
  );
  position: absolute;
  /* padding-top: 3.2rem; */
  position: fixed;
  left: 0;
  top: 4rem;
  transition: all 0.25s ease;
  color: white;
}

.mobileLinks a:hover {
  color: var(--primary-blue);
}

.offScreenLeft {
  transform: translateX(-100%);
}

.mobileLinks {
  width: 100%;
  list-style: none;
  height: 100%;
}

.mobileLink {
  border-bottom: 1px inset var(--gray-border);
  padding-left: 3.2rem;
  display: flex;
  align-items: center;
  height: 4.8rem;
  cursor: pointer;
}
.mobileLink:hover {
  background: var(--gray-border);
  color: var(--primary-blue);
}

.dashboardLink {
}

@media only screen and (max-width: 850px) {
  .navMobile {
    display: block;
  }
}
